.root {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: #ffffff;
    border-radius: 50%;
    border: 2px solid var(--mantine-color-gray-3);
    left: 50%;
    transform: translateX(-50%);
    top: -9px;
    z-index: 1;
  }
}

.block {
  border-radius: 8px;
  border: 1px solid var(--mantine-color-gray-3);
  padding: 12px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bracket {
  width: 100%;
}
